*
{
 margin: 0;
 padding: 0%;
 box-sizing: border-box;  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #2196f3, #ff4685);
}
.container {
    position: relative;
    padding: 50px;
    background: #fff;
    display: flex;
    justify-tracks: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.container .inputbox
{
position: relative;
width: 350px;
}

.container .inputbox input {
    position: relative;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 0.05em;
}


.container .inputbox span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 0.05s;
    color: #333;
    letter-spacing: 0.05em;
}


.container .inputbox input:valid ~ span
.container .inputbox input:focus ~ span 
{
    font-size: 0.85em;
    transform: translateY(-32px);
}
